.navbar {
    background-color: #ffffff;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo img {
    width: 100px; /* Atur lebar sesuai kebutuhan */
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    display: flex;
  }
  
  .nav-item {
    margin: 0;
    padding: 0;
  }
  
  .nav-item a {
    color: black;
    text-decoration: none;
    padding: 10px; /* Atur padding sesuai kebutuhan */
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }